#nav-list li a {
  color: blue;
  text-align: center;
}

.navbar-nav {
	background-color: #d1d1d1;
}

.mainTitle {
	text-align: middle
}

.Menuebox h1 {
	text-align: center;
	font-size: 22px;
	margin: 0;
}

.container {
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
}